.component {
    position: relative;
    padding: -2px;
    user-select: none;
    /*overflow: hidden;*/
/*  width, height set by code  */
}

.component-bg {
    width: 100%;
    height: 100%;
    border: 2px #ccc solid;
    border-radius: calc(var(--cell-size) * 0.1);
    background: #fff;
    box-sizing: border-box;
}

.component-name {
    position: absolute;
    top: 50%;
    width: 100%;
    height: fit-content;
    font-size: calc(var(--cell-size) / 2);
    text-align: center;
    transform: translate(0, -50%);

    opacity: 1.0;
    transition: opacity 0.3s ease-out;
}
.component-name-hide {
    opacity: 0.0;
}
.component:hover .component-name {
    opacity: 0.0;
}

.component-type {
    position: absolute;
    top: 50%;
    width: 100%;
    height: fit-content;
    font-size: calc(var(--cell-size) / 2);
    text-align: center;
    transform: translate(0, -50%);

    opacity: 0.0;
    transition: opacity 0.3s ease-in;
}
.component-type-always {
    opacity: 1.0;
}
.component:hover .component-type {
    opacity: 1.0;
}

.pin {
    position: relative;
    width: calc(var(var(--cell-size-x2)) * 2);
    height: var(--cell-size);
    line-height: var(--cell-size);
    font-size: calc(var(--cell-size) / 3);
    vertical-align: middle;

    box-sizing: border-box;
}

.pin-name {
    opacity: 0;
    transition: opacity 0.3s;
}
.component:hover .pin-name {
    opacity: 1;
}

.input-pin-list {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(var(--cell-size) * 2);
}
.input-pin {
    text-align: left;
    padding-left: calc(var(--cell-size) / 5);
}

.output-pin-list {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(var(--cell-size) * 2);
}
.output-pin {
    text-align: right;
    padding-right: calc(var(--cell-size) / 5);
}

@keyframes pin-circle-blink {
    from { background: #fff }
    to { background: #f88 }
}
.pin-circle {
    pointer-events: all;
    position: absolute;
    background: #fff;
    width: calc(var(--cell-size) * 0.4);
    height: calc(var(--cell-size) * 0.4);
    border: 2px #ccc solid;
    box-sizing: border-box;
    border-radius: calc(var(--cell-size) * 0.2);
    top: calc(var(--cell-size) * 0.3);
}
.inputpin-circle {
    left: calc(var(--cell-size) * -0.7);
}
.inputpin-circle-selected {
    animation: 0.5s ease-out 0s infinite alternate pin-circle-blink
}
.outputpin-circle {
    right: calc(var(--cell-size) * -0.7);
}
.outputpin-circle-selected {
    animation: 0.5s ease-out 0s infinite alternate pin-circle-blink
}

.pin-dash {
    position: absolute; background: #ccc; width: calc(var(--cell-size) * 0.3); height: 2px; top: calc(var(--cell-size) * 0.5 - 1px);
}
.inputpin-dash {
    left: calc(var(--cell-size) * -0.3);
}
.outputpin-dash {
    right: calc(var(--cell-size) * -0.3);
}