html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#content {
    width: fit-content;
    height: fit-content;
    background-color: #434343;
    background-image: linear-gradient(#5480D3, #3256A7);
}

#container {
    width: fit-content;
    height: fit-content;
    z-index: 10;
    background-color: transparent;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, .2) 2%, transparent 2%, transparent 98%, rgba(255, 255, 255, .2) 98%, rgba(255, 255, 255, .2) 100%),
    linear-gradient(90deg, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, .2) 2%, transparent 2%, transparent 98%, rgba(255, 255, 255, .2) 98%, rgba(255, 255, 255, .2) 100%);
    background-size: var(--cell-size) var(--cell-size);
}

#toolbox {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    width: calc(var(--cell-size) * 4);
    height: calc(var(--cell-size) * 2);
    background: white;
}

#playground {
    width: 100%; height: 100%;
    z-index: 10;

    overflow: hidden;
    position: relative;
    flex-grow: 1;
}